img {
    width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*********************************************************     Fonts    *********************************************************/

h1 {
    font-family: 'Roboto Slab', serif;
    padding-left: 3%;
}

p :not(.modal) {
    line-height: 1.45;
    margin-bottom: 3.5rem;
}


/*********************************************************     Main Elements   *********************************************************/


.container {
    padding: 0 10% 5rem;
}

.tag-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    border-top: lightsalmon 1px solid;
    padding: 1rem 0 2rem;
}

.full-bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.bg-a{
    background-image: url(img/pexels-mushrooms.jpg);
}

/******************     Buttons     ******************/

.btn-1st {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 1.5rem 2rem;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
    transition: all 0.2s ease-in;
    text-decoration: none;
}

.btn-1st:hover {
    box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}


.btn-tag {
    border-radius: 99px;
    border: grey 1px solid;
    padding: 0.3em 0.8em;
    font-size: clamp(0.75rem, 2vw, 1rem);
}

.btn-tag:hover{
    cursor: pointer;
    background-color: #ff9966;
    color: white;
}


.btn-tag.is-active {
    cursor: pointer;
    background-color: rgb(80, 80, 80);
    color: white;
}





/******************     Hero     ******************/

.hero {
    width: 100%;
    background-size: cover;
    margin-bottom: 4rem;
}

.hero-img-a {
    height: 50vh;
    min-height: 400px;
    background-image: url(img/pexels-johannes-plenio-1118865.jpg);
    background-position: bottom;
}

.hero-img-b {
    height: 50vh;
    background-image: url(img/pexels-mushrooms.jpg);
    background-position: center;
}

.hero-text-only{
    height: 30vh;
}

.hero h1 {
    color: rgba(255, 255, 255, 0.75);
    margin-top: 0;
    padding-top: 20vh;
    padding-left: 6%;
    font-size: 5rem;
    
}

.hero p {
    color: rgb(255, 255, 255);
    padding-left: 6%;
    padding-right: 15%;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-shadow: 1px 2px 5px rgba(17, 33, 11, 0.9);
}





/******************     Navbar     ******************/

/* app-div wraps everything. children are sidebar and main. sidebar takes up min. 150px and max. 15%. main takes up other fraction, meaning everything to the right */
.app {
    display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr;
}

@media (max-width: 768px) {
    .app{
    display: flex;
}
}

.main {
    margin-bottom: 8rem;
}

.sidebar {
    height: 100%; 
    background-color: rgb(228, 228, 228);
}

.sidebar-content{
    padding: 2rem 1rem 3rem 1rem;
}

.sidebar h3 {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.sidebar .menu {
    margin: 0 -1rem;
    padding-top: 2rem;
}

.sidebar .menu-item {
    display: block;
    padding: 1em;
    text-decoration: none;
    transition: 0.2s linear;
    color: rgb(88, 22, 116);
    font-weight: 500;
}

.sidebar .menu-item:hover,
.sidebar .menu-item.is-active {
    color: darkorange;
    border-right: 5px solid darkorange;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: darkorange;
    cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: white;
    transition-duration: .25s;
}

.hamburger span::before {
    content: '';
    top: -8px;
}

.hamburger span::after {
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger span {
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger span::before {
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger span::after {
    top: 0;
    transform: rotate(90deg);
}


@media (max-width: 767px) {
    .menu-toggle {
        display: block;
        z-index: 1;
    }

    .sidebar {
        position: fixed;
        z-index: 1;
        left: -420px;
        height: 100vh;
        width: 50%;
        transition: 0.2s linear;
    }

    .sidebar.is-active {
        left: 0;
    }
}


/******************     Search field     ******************/

.search-field {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 6%;
    padding-bottom: 20px;
    height: 60px;
}

.search-field input, .search-field button {
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 30px;
    margin-left: 20px;
}

.search-field input{
    width: 50%;
}

.search-field button {
    border: none;
    background: darkorange;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

#error-message {
    padding-left: calc(6% + 30px + 20px); 
    padding-bottom: 60px; 
    visibility: hidden;
    
}

/* Javascript highlighting searched text */
mark {
    background: darkorange;
}


/*********************************************************     Cards    *********************************************************/

.cards-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}


/********************     Card A   *********************/

.card {
    background: #fff;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: 5rem;
    margin-bottom: 8rem;
}

.card-container {
    padding: 6rem 4rem 5rem 4rem;
}

.card-img-frame {
    height: 110px;
    width: 110px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: 10;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    height: 8.3rem;
    width: 8.3rem;
    position: relative;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}


/********************     Card B   *********************/

/* styling of whole card */
.card-B {
    transition: 0.2s linear;
    background-color: #fff;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: clamp(300px, 60%, 450px);

}

.card-B__img {
    transition: 0.2s linear;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

    height: 235px;
}


/* this header height needs to be exact as __img height! */
.card-B__HEADER {
    height: 235px;
}

.card-B__FOOTER {
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 5px 24px 24px 24px;

    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card-B__FOOTER h2 {
    font-family: 'Roboto Slab', serif;
}


/* cards zooms 1.1x bigger when hovering */
.card-B:hover {
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    transform: scale(1.10, 1.10);
    transition: 0.1s all ease-out;
}

/* image with specific height covers full card when hovering */
.card-B:hover .card-B__img {
    height: 100%;
    opacity: 0.4;
}







/*********************************************************     Modal    *********************************************************/

/* dark background that serves as back button  */
.close {
    display: none;
    background-color: rgba(20, 20, 20, 0.3);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
}


/* styling of whole card */
/* note: position fixed is the only option to show the modal in center of visible screen*/
.modal {
    display: none;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 100;
    width: clamp(150px, 90%, 800px);

    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal h1 {
    font-size: clamp(2rem, 3.5vw, 3rem);
    padding-left: 2rem;
    margin-bottom: 0;
}

.modal h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 0 2rem 1rem;
}

.modal p {
    font-size: 1em;
    padding: 1rem 2rem 2rem;
}

.modal__img img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal__tag-holder {
    margin: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1.5rem 0;
    border-top: lightsalmon 1px solid;
    border-bottom: lightsalmon 1px solid;
}



/*********************************************************     Accordion    *********************************************************/

.acc-container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: none;
    align-items: stretch;
    margin: 0 6%;

}

.accordion {
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 3rem;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.accordion h2{
    font-family: 'Roboto Slab', serif;
}


.question {
    padding: 18px 0px;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}

.question::after {
    content: '+';
    position: absolute;
    right: -5px;
}

.answer {
    padding-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
    width: 100%;

    height: 0px;
    overflow: hidden;
    transition: .5s;
}

/* JavaScript Styling Link */
/* addEventListener(click) with this.classList.toggle('active') toggles between active and normal and allows changes in styling */
/* syntax ".CLASSNAME-OF-PARENT.active .CLASSNAME-OF-CHILD */

.acc-item.active .answer {
    height: auto;
    transition: .5s;
}

.acc-item.active .question {
    font-size: larger;
    transition: .5s;
    color: darkorange;
}

.acc-item.active .question::after {
    content: '–';
}